/* Тут стили для всех страниц -_- */
body {
    @font-face {
        font-family: MontserratAlternates-Regular;
        src: url(ss/MontserratAlternates-Regular);
    }

    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
    overflow: auto;
}

header {
    position: relative;
    background-color: rgba(91, 184, 4, 0.739);
    width: 98.98%;
    padding: 15px 0;
    z-index: 100;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    font-size: 1.2em;
}


p {
    color: black;
}

.resort {
    width: calc(50% - 40px);
    margin: 0 30px 250px;
    padding: 20px;
    border: 1px solid #000;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.7);

    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.resort.visible {
    opacity: 1;
    transform: translateY(0);
}

.resort-image {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px;
}

#resort1 {
    float: left;
}

#resort2 {
    float: right;
}

#resort3 {
    float: left;
}

#resort5 {
    float: right;
}

#resort6 {
    float: left;
}

#resort7 {
    float: right;
}

.resort:hover {
    transform: scale(1.05);
    z-index: 2;
}

#overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 1.5s;
    z-index: 9999;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}


#zoomed-image {
    transition: transform 1.5s;
    transform: scale(0);
}

#overlay.active #zoomed-image {
    transform: scale(0.5);
}

@media (max-width: 768px) {
    #overlay.active #zoomed-image {
        transform: scale(0.25);
        /* Уменьшенный масштаб для мобильных устройств */
    }
}

.text {
    color: black;
}

.resort p {
    color: black;
    transition: color 1.5s ease;
    font-size: 19px;
}

.resort:hover p {
    color: white;
}


.block {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.block.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Тут начинаются стили именно для index.html страницы - 
 - но есть иногда что я использую и на други страницах -_-  */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 369px;
    margin: 0 auto;
}

.image-container img {
    width: 128px;
    height: 128px;
    margin: 28px;
    object-fit: cover;
    cursor: pointer;
}

.backImage {
    width: 128px;
    height: 128px;
    margin: 40px;
    object-fit: cover;
    cursor: pointer;
}

.transition-fade {
    transition: .4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

body {
    transition: all 0.5s ease;
}

body[data-active="true"] {
    opacity: 1;
    transform: translateX(0);
}

body[data-active="false"] {
    opacity: 0;
    transform: translateX(-100%);
}

.hover-effect {
    transition: transform 0.3s, outline 0.3s;
    margin: 20px;
}

.hover-effect:hover {
    transform: scale(1.1);
    outline: 2px solid red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#animatedButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.597);
    border-radius: 0;
    position: relative;
    margin: 50px auto;
    transition: all 0.3s ease-in-out;

    z-index: 2;
}

#buttonImage {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out
}

#animatedButton:hover {
    border-radius: 20%;
}

#animatedButton:hover #buttonImage {
    transform: scale(0.95);
}

/* Тут все так же все относится к index.html - 
- но тут стили именно к header */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

/* Тут я буду использовать настройки для слабовидящих */
.normal-colors {
    /* Обычные цвета */
    background-color: white;
    color: black;
}

.high-contrast-colors {
    /* Цвета для слабовидящих */
    background-color: rgb(167, 167, 167);
    color: rgb(234, 255, 0);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(91, 184, 4, 0.739);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.header h1 {
    margin: 0;
    flex-grow: 1;
    /* Растягиваем заголовок, чтобы он занимал оставшееся пространство */
    text-align: center;
    /* Выравниваем текст по центру */
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container p {
    margin: 0 10px;
    font-size: 16px;
}

.font-button,
.reset-font-button,
.color-button {
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    border: none;
    background-color: #10bc00;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
}

.font-button:hover,
.reset-font-button:hover,
.color-button:hover {
    background-color: #0056b3;
}

.header p {
    color: white;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        /* Меняем направление flex-контейнера на столбец */
        align-items: stretch;
        /* Растягиваем элементы по ширине контейнера */
    }

    .button-container {
        flex-direction: column;
        /* Меняем направление flex-контейнера на столбец */
        align-items: stretch;
        /* Растягиваем элементы по ширине контейнера */
    }

    .button-container p {
        margin: 10px 0;
        /* Уменьшаем отступы для мобильных устройств */
    }
}